@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* Background image */
.background {
    background: url('images/golf-course-image.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    height:100%;
    width:100%;
}
.background::before {
    content:"";
    position:fixed;
    width:inherit;
    height:inherit;
    background-color:rgba(0,0,0,0.85);
}

/* General Classes */
.text-color {
    color:white;
}

/* Headings */
.header {
    position: relative;
    color: #ffffff;  
    line-height: 0.9;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.header h1 { 
    font-size: 75px;
}
.header h3 { 
    font-size: 25px;
}

/* Input Forms */
.content {
    position:relative;
    margin: 0px 0px 0px 10px;
    display:flex;
}
.table {
    max-width: 600px;
    margin: 25px 50px 0px 30px;
    width:50%;
}
.table-headings {
    font-size:20px;
    color:white;
    border:none;
    text-align:center;
    text-decoration: underline;
    font-family: 'Quicksand', sans-serif;  
}
.table input {
    width:100px;
    height:30px;
}
.buttons {
    display:flex;
    margin: 0px 10px 10px 50px;
    align-items: center;
}
.submit {
    margin: 0px 10px 0px 0px;
}
.final-index {
    color:white;
    margin: 10px 0px 50px 50px;
    text-decoration: underline;
    font-size:20px;
    font-family: 'Quicksand', sans-serif;
}
.course-hcap-form {
    background-color: rgb(26, 26, 26);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.course-hcap input {
    width: 100px;
    height: 30px;
    margin: 10px 0px 0px 0px;
}
.course-hcap td {
    padding:0px 10px 0px 10px;
}
#holes {
    height: 30px;
    margin: 10px 0px 0px 0px;
}
.course-btn-result {
    display: flex;
    align-items: center;
}
.modal-course {
    margin-right: 15px;
}
#course-handicap-index {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}



/* Instructions */
.instructions {
    margin:25px 20px 0px 20px;
    /* width:50%; */
    font-family: 'Quicksand', sans-serif;
    font-size:15px;
}
.content img {
    max-width:100%;
}
.diffs-graphic {
    margin-bottom: 15px;
    width: 80%;
    max-width: 80%;
}

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-box {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 3px solid black;
    width: 40%; 
    height: 20%;
    border-radius: 10px;
    display: grid;
    place-items: center;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
  }
  #modal-text {
    font-size:40px;
    font-weight: bold;
  }
  #modal-index {
      font-size: 50px;
  }
  .close-modal {
    color:darkred;
    background:transparent;
    border-color: transparent;
    position:absolute;
    top: 5%;
    right: 2%;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .close-modal:hover,
  .close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/* Responsive Media */
@media screen and (max-width:860px) {
    .background {
        background: url('images/golf-course-mobile.jpeg');
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        height:100%;
        width:100%;
    }
    .background::before {
        content:"";
        position:fixed;
        height:inherit;
        width:inherit;
        background-color:rgba(0,0,0,0.75);
        background-attachment:fixed;
    }
    .content {
        flex-direction:column;
        width:95%;
        margin:20px 10px 20px 10px;
    }
    .table {
        max-width:90%;
    }
    .form {
        overflow-x: auto;
    }
    #course-handicap {
        max-width: 90%;
        overflow-x: auto;
    }
    .instructions {
        font-family: 'Quicksand', sans-serif;
    }
    .modal-box {
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 20px;
        border: 3px solid black;
        width: 80%; 
        height: 40%;
        border-radius: 10px;
        display: grid;
        place-items: center;
        position: relative;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
      }
}


