@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* Background image */
.background {
    background: url('images/golf-course-image.jpeg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    height:100%;
    width:100%;
}
.background::before {
    content:"";
    position:fixed;
    width:inherit;
    height:inherit;
    background-color:rgba(0,0,0,0.80);
}

/* General Classes */
.text-color {
    color:white;
}

/* Headings */
.header {
    position: relative;
    color: #ffffff;  
    line-height: 0.9;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.header h1 { 
    font-size: 75px;
}
.header h3 { 
    font-size: 25px;
}

/* Input Form */
.content {
    position:relative;
    margin: 0px 0px 0px 20px;
    display:flex;
}

.table {
    max-width: 600px;
    margin: 25px 50px 0px 50px;
    width:50%;
}
.table thead {
    font-size:20px;
    color:white;
    border:none;
    text-align:center;
    text-decoration: underline;
    font-family: 'Quicksand', sans-serif;  
}
/* .table tr {
    border:0;
} */
.table input {
    width:100px;
    height:30px;
}
.buttons {
    display:flex;
    margin: 0px 10px 10px 50px;
    align-items: center;
    
}
.submit {
    margin: 0px 10px 0px 0px;
}
.final-index {
    color:white;
    margin: 10px 0px 50px 50px;
    text-decoration: underline;
    font-size:20px;
    font-family: 'Quicksand', sans-serif;
}

/* Instructions */
.instructions {
    margin:25px 20px 0px 20px;
    /* width:50%; */
    font-family: 'Quicksand', sans-serif;
    font-size:15px;
}
.content img {
    max-width:100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-box {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close-modal {
    color:darkred;
    background:transparent;
    border-color: transparent;
  }
  
  /* .close-modal:hover,
  .close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } */


/* Responsive Media */
@media screen and (max-width:800px) {
    .background {
        background: url('images/golf-course-mobile.jpeg');
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        height:100%;
        width:100%;
    }
    .background::before {
        content:"";
        position:fixed;
        height:inherit;
        width:inherit;
        background-color:rgba(0,0,0,0.75);
        background-attachment:fixed;
    }
    .content {
        flex-direction:column;
        width:100%;
        margin:20px 10px 20px 10px;
    }
    .table {
        max-width:90%;
    }
    .form {
        overflow-x: auto;
    }
    .instructions {
        font-family: 'Quicksand', sans-serif;
    }
}


